//
//  Project-Debug.xcconfig
//  Loper
//
//  Created by Skylar Schipper on 2/9/17.
//  Copyright (c) 2017 Planning Center
//

#include "Project-Base.xcconfig"

///
///
///
ONLY_ACTIVE_ARCH = YES

///
///
///
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
VALIDATE_PRODUCT = NO

///
///
///
GCC_OPTIMIZATION_LEVEL = 0

///
///
///
ENABLE_NS_ASSERTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

///
///
///
SWIFT_OPTIMIZATION_LEVEL = -Onone

///
///
///
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

///
///
///
MTL_ENABLE_DEBUG_INFO = YES
